@import '../../styles/colors';
@import '../../styles/typography';
.hero-container {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    &__left-side {
        background-color: $primary-orange;
        width: 50%;
        height: 100%;
    }
    &__right-side {
        background-color: $light-gray;
        width: 50%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 30px 30px 0;
    }
    &__text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $primary-black;
        font-family: Roboto Condensed, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
}

.name {
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.professional {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 5px;
}

.dot {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: $primary-orange;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.link-to {
    padding-right: 3px;
}

.fa-github:hover {
    color: $primary-black;
}

.fa-linkedin:hover {
    color: $linkedin-blue;
}

.fa-hackerrank:hover {
    color: $green;
}

.icon {
    font-size: 30px;
    cursor: pointer;
    color: $primary-orange;
    transition: all .3s;
}

@media (max-width: 768px) {
    .name {
        font-size: 60px;
    }
}

@media (max-width: 450px) {
    .name {
        font-size: 45px;
    }
    .professional {
        font-size: 20px;
    }
}