<div class="hero-container">
    <div class="hero-container__left-side"></div>
    <div class="hero-container__right-side">
        <div class="social-media">
            <a href="https://www.linkedin.com/in/andres-collazos-66454076/" target="_blank" class="link-to" title="linkedin">
                <i class="fab fa-linkedin icon"></i>
            </a>
            <a href="https://github.com/andrescollazosc" target="_blank" class="link-to" title="github">
                <i class="fab fa-github icon"></i>
            </a>
            <a href="https://www.hackerrank.com/andrescollazosc" target="_blank" class="link-to" title="hackerrank">
                <i class="fab fa-hackerrank icon"></i>
            </a>
        </div>
    </div>
    <div class="hero-container__text">
        <div class="name">
            Andres Collazos
        </div>
        <div class="professional">
            software developer<span class="dot size-dot">.</span>
        </div>
    </div>
</div>