@import "../../styles/typography";
@import "../../styles/colors";
.footer-container {
    width: 100%;
    background: #1c1b20;
    color: #f8f8f8;
    width: 100%;
    font-family: Poppins, sans-serif;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.text-footer {
    margin: 0 2px;
    font-size: 14px;
}

.creater {
    color: $primary-orange;
    font-size: 14px;
}