@import '../../styles/typography';
@import '../../styles/colors';
.footer-container {
    height: 70px;
    width: 100%;
    background: $primary-black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-gray;
    width: 100%;
    font-family: Poppins, sans-serif;
    margin-top: 20px;
}

.text-footer {
    margin: 0 2px;
}

.creater {
    color: $primary-orange;
}