<div class="sections fade-in">
    <div class="container">Building</div>
    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus deleniti quae inventore odio a! Maiores quas, reprehenderit velit aspernatur dolor rem facere officia magnam ducimus nisi voluptatem, illum asperiores quasi.
    </div>

    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus deleniti quae inventore odio a! Maiores quas, reprehenderit velit aspernatur dolor rem facere officia magnam ducimus nisi voluptatem, illum asperiores quasi.
    </div>
</div>