<div class="skill-card-container">
    <div class="skill-card-container__icon-tech">
        <i [class]="configCard.icon"></i>
    </div>
    <div class="text container" *ngFor="let item of configCard.skillCardTextModel">
        <div class="skill-card-container__tech-title">
            {{ item.title }}
            <div class="icons-container">
                <i *ngFor="let icon of item.icons" [class]="icon" class="icon"></i>
            </div>
        </div>
        <div class="skill-card-container__description">
            {{ item.description }}
        </div>
    </div>
</div>