<div class="skill-card-container">
    <div class="skill-card-container__icon-tech">
        <i [class]="configCard.icon"></i>
    </div>
    <div class="text container" *ngFor="let item of configCard.skillCardTextModel">
        <div class="skill-card-container__tech-title">
            {{ item.title }}
        </div>
        <div class="skill-card-container__description">
            {{ item.description }}
        </div>
    </div>
    <!-- <div class="skill-card-container__tech-title">
        front end
    </div>
    <div class="skill-card-container__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, ab ad. Dolorem, ducimus enim, modi aspernatur eveniet sunt reprehenderit sint asperiores libero reiciendis placeat aut minima fugit id cupiditate nostrum.
    </div>
    <div class="skill-card-container__tech-title">
        programming languages
    </div>
    <div class="skill-card-container__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium impedit reprehenderit hic possimus, enim voluptatem quia eligendi excepturi iure, adipisci fuga laudantium accusantium ipsam quisquam harum officia fugiat. Libero, eum.F
    </div> -->
</div>