<div class="contact-form-main-container">
    <div *ngIf="status === 0" class="contact-form-container">
        <div class="contact-form-container__personal-data">
            <div class="contact-form-container__input-container">
                <input type="text" placeholder="Name" class="control-text">
            </div>
            <div class="contact-form-container__input-container">
                <input type="email" placeholder="Email" class="control-text">
            </div>
        </div>
        <div class="message">
            <textarea class="control-text" placeholder="Message"></textarea>
        </div>
        <div class="contact-form-container__button-container">
            <button class="button" (click)="sendData()">
                Submit
            </button>
        </div>
    </div>


    <div *ngIf="status === 1" class="icon-response">
        <i class="fas fa-circle-notch fa-spin"></i>
    </div>

    <div *ngIf="status === 2" class="icon-response fade-in">
        <i class="fas fa-check-circle"></i>
    </div>
</div>