<div class="contact-form-main-container">
    <div class="contact-form-container">
        <div class="contact-form-container__personal-data">
            <div class="contact-form-container__input-container">
                <input type="text" placeholder="Name" class="control-text">
            </div>
            <div class="contact-form-container__input-container">
                <input type="text" placeholder="Email" class="control-text">
            </div>
        </div>
        <div class="message">
            <textarea class="control-text" placeholder="Message"></textarea>
        </div>
        <div class="contact-form-container__button-container">
            <button class="button">
                Submit
            </button>
        </div>
    </div>
</div>