@import '../../styles/colors';
@import '../../styles/typography';
.mobile-main-container {
    height: 50px;
    width: 100%;
    background: $primary-blue;
    position: relative;
    padding: 4px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &__menu-icon {
        font-size: 30px;
        color: $light-gray;
        transition: all .2s;
        cursor: pointer;
    }
    &__menu-icon:hover {
        color: $primary-orange;
    }
    &__panel-menu {
        height: auto;
        width: 60%;
        position: absolute;
        background: $primary-blue;
        top: 50px;
        right: 0;
        z-index: 1;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.tab-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: Libre Baskerville, sans-serif;
    font-style: italic;
    margin: 10px 0;
    padding: 0;
}

.item {
    padding: 3px 0;
    font-size: 18px;
    font-weight: 400;
    padding: 0 30px;
}

.item:not(:last-child) {
    border-bottom: 1px solid #f8f8f8;
}

.item a {
    text-decoration: none;
    color: $light-gray;
    transition: all .1s;
}

.item a:hover {
    color: $primary-orange;
}