@import '../../styles/colors';
@import '../../styles/typography';
.header-container {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-blue;
}

.tab-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: Libre Baskerville, sans-serif;
    font-style: italic;
    margin-bottom: 0;
}

.item {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 400;
}

.item a {
    text-decoration: none;
    color: $light-gray;
    transition: all .1s;
}

.item a:hover {
    border-bottom: 3px solid $light-gray;
    color: $light-gray;
}