<app-desktop-menu [menuConfig]="menuConfig" class="show-desktop-menu fixed-menu"></app-desktop-menu>
<app-mobile-menu [menuConfig]="menuConfig" class="show-mobile-menu fixed-menu"></app-mobile-menu>

<app-hero-main></app-hero-main>

<div class="sections fade-in">
    <section class="profile-container container" id="profile">
        <app-profile-card [profileConfig]="profileConfig"></app-profile-card>

        <div class="row">
            <app-skill-card *ngFor="let item of skillCardConfig" [configCard]="item" class="col-12 col-lg-6"></app-skill-card>
        </div>
    </section>

    <section class="section-container container" id="experience">
        <app-card-experience [configCard]="experienceConfig" class="card-experience-container"></app-card-experience>
    </section>

    <section class="container section-contact section-container" id="contact">
        <div class="title">Contact me.</div>
        <app-contact-form></app-contact-form>
    </section>

</div>