/* You can add global styles to this file, and also import other style files */

@import "app/styles/colors";
@import "app/styles/typography";
body {
    background: $light-gray;
    padding: 0;
    // height: auto;
}

html {
    scroll-behavior: smooth;
}

.sections {
    padding: 0 10px;
}

.section-container {
    padding: 50px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dot {
    font-weight: 700;
}

.fade-in {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
}

.button {
    border-radius: 3px;
    padding: 10px 20px;
    font-family: Nunito, sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: $primary-black;
    color: $light-gray;
    transition: all 0.4s;
    outline: none;
}

.button:hover {
    background: $primary-orange;
    color: $light-gray;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}